.animation-fonts {
  font-size: 140px;
  font-weight: 800;
  -webkit-text-stroke: 2px #1b1b1b;
  line-height: 140px;
  /* background: radial-gradient(circle at 0, transparent 1%, white 99%),
    url("../../public/imgs/profile.png");
  background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: 50%;

  background-clip: text;
  -webkit-background-clip: text; */
  color: transparent;
  position: relative;
  /* z-index: 9; */
}
.animation-fonts .font-lg {
  position: relative;
  color: transparent;
}

.animation-fonts .dark-font {
  animation: fadein ease-in 0.3s forwards;
}
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: red;
  transform: rotate(-45deg);
}

.cursor::before,
.cursor::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
}

.cursor::before {
  top: -15px;
  left: 0;
}
.cursor::after {
  left: 15px;
  top: 0;
}
@keyframes fadein {
  from {
    color: white;
  }
  to {
    color: #1b1b1b;
  }
}
.home-card {
  min-height: calc(80vh - 126px);
  /* max-width: 60vw; */
  position: relative;
  margin: auto;
  cursor: none;
}
/* .home-card::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 140px;
  border-radius: 100% 0% 70% 30% / 32% 28% 72% 68%;
  background: rgba(230, 230, 230, 0.64);
  height: 200px;
  width: 200px;
} */
.cursor-none {
  cursor: none !important;
}
