.logo {
  cursor: pointer;
}
.logo .nav-link {
  border: none !important;
  color: #e3252f;
  font-size: 20px;
}
.logo img {
  max-height: 100px;
}

.nav-link {
  margin: 5px 15px;
}
.nav-link.active {
  border-bottom: 2px solid black;
}
