@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #f6bbcf !important;
  color: #e3252f;
  box-sizing: border-box;
  font-family: "Loved by the King", cursive !important;
  font-style: normal;
}
